/* Error: Undefined mixin.
 *    ,
 * 17 | /   @include screen-md-down {
 * 18 | |     p {
 * 19 | |       font-size: math.div($header-height, 2);
 * 20 | |     }
 * 21 | \   }
 *    '
 *   src\resources\scss\fancy_title.scss 17:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 17 \2502  \250c    @include screen-md-down {\a 18 \2502  \2502      p {\a 19 \2502  \2502        font-size: math.div($header-height, 2);\a 20 \2502  \2502      }\a 21 \2502  \2514    }\a    \2575 \a   src\\resources\\scss\\fancy_title.scss 17:3  root stylesheet";
}
