/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  margin-bottom: 0.5rem;
}

.vcenter {
  vertical-align: middle;
}

.transparent {
  opacity: 0;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

a {
  outline: 0 none;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

#fusszeile {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 35px;
  clear: both;
}
#fusszeile p {
  text-align: center;
}
#fusszeile span {
  margin-right: 10px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #bfbfbf;
  font-style: italic;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bfbfbf;
  font-style: italic;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bfbfbf;
  font-style: italic;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bfbfbf;
  font-style: italic;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bfbfbf;
  font-style: italic;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #909;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Chrome*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.fancyheader {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}
.fancyheader p {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  margin: 0;
}
@media (max-width: 768px) {
  .fancyheader p {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    .fancyheader .fancy {
      background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      background-clip: text;
    }
  }
}

/* ----------------------------------------------------------------- */
*,
*:after {
  box-sizing: border-box;
}

h1.underlined {
  font-size: 2em;
  font-family: sans-serif;
}
h1.underlined .underline {
  position: relative;
  /*   background: red; */
}
h1.underlined .underline.underline-mask:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3/1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 3px solid hsl(280, 80%, 50%);
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
}
h1.underlined .underline.underline-overflow {
  display: inline-block;
  /* A little extra padding and overflow hidden   */
  overflow: hidden;
  padding-bottom: clamp(1rem, 2vmin, 2rem);
}
h1.underlined .underline.underline-overflow:after {
  content: "";
  position: absolute;
  top: 100%;
  height: 150%;
  aspect-ratio: 2.5/1;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 50%;
  border: 3px solid hsl(10, 80%, 50%);
}
h1.underlined .underline.underline-clip:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3/1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 3px solid hsl(130, 80%, 50%);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}

/* ----------------------------------------------------------------- */
.hidden {
  display: none;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000 !important;
  z-index: 1035;
  opacity: 0.8;
}

.center-screen {
  position: relative;
}

.ajax-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  z-index: 2000;
}
.ajax-loader span {
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
}
.ajax-loader span:nth-child(1) {
  top: 0;
  left: 0;
  background-color: #4285f4;
  animation: move1 2s linear infinite;
}
.ajax-loader span:nth-child(2) {
  top: 0;
  right: 0;
  background-color: #db4437;
  animation: move2 2s linear infinite;
}
.ajax-loader span:nth-child(3) {
  bottom: 0;
  left: 0;
  background-color: #f4b400;
  animation: move3 2s linear infinite;
}
.ajax-loader span:nth-child(4) {
  bottom: 0;
  right: 0;
  background-color: #0f9d58;
  animation: move4 2s linear infinite;
}

@keyframes move1 {
  0% {
    transform: translate(0);
    z-index: 10;
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(0, 100%);
    z-index: 0;
  }
  100% {
    transform: translate(0);
  }
}
@keyframes move2 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(-100%, 100%);
    z-index: 0;
  }
  75% {
    transform: translate(-100%, 0);
    z-index: 10;
  }
  100% {
    transform: translate(0);
  }
}
@keyframes move3 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, -100%);
    z-index: 10;
  }
  50% {
    transform: translate(100%, -100%);
  }
  75% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0);
    z-index: 0;
  }
}
@keyframes move4 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-100%, 0);
    z-index: 0;
  }
  50% {
    transform: translate(-100%, -100%);
    z-index: 10;
  }
  75% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0);
  }
}
html {
  overflow-x: hidden;
}

body {
  background: #f2f2f2 none repeat scroll 0 0;
  color: #859196;
}

footer {
  position: fixed;
  height: 2em;
  bottom: 0;
  width: 100%;
}

nav {
  margin-bottom: 2em;
}

a {
  transition: 0.3s all ease;
  color: #666666;
}
a:hover {
  text-decoration: none;
  color: #666666;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.45;
  font-weight: normal;
  color: #000;
}

.my-subheading,
p {
  color: rgba(255, 255, 255, 0.5);
}

a {
  position: relative;
  color: #fff;
}

footer {
  margin-top: 4em;
  background-color: rgba(0, 0, 0, 0.2);
}

.logo {
  width: 200px;
  height: auto;
}

.portrait {
  height: 400px;
  width: auto;
}

.full-image {
  height: 80vh;
  width: auto;
}

.img-shadow {
  border: 1px solid #ccc;
  padding: 5px;
  background: #f2f2f2;
  box-shadow: 0 28px 16px -26px rgb(0, 0, 0);
}

/*# sourceMappingURL=styles.css.map */
