<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PyFoto</title>
  <link rel="icon" type="image/svg+xml" href="resources/favicon.svg" sizes="any">
  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }} ">

  <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
</head>

<body>
  <script>
    $(function () {
      $('button#start').click(function () {
        $.ajax({
          async: true,
          type: "POST",
          url: "/getFoto",
          data: {},
        })
          .done(function (json) {
            console.log("Done");
          })
          .fail(function (jqxhr, textStatus, err) {
            console.log("Fehler beim Laden des Fotos");
          });
      })

    })
  </script>
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index.html">
        <h1 class="underlined">Flask <span class="underline underline-clip">Template</span></h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExpand"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse animitem" id="navbarExpand">
        <!--
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
            </ul>
          -->
      </div>
    </div>
  </nav>

  <button id="start" class="btn btn-primary">START</button>


  <div class="container">
    <div class="row">
      <div class="col-10">
        <h2 class="text-uppercase my-uppercase">Our Awesome Features</h2>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        erat, sed diam voluptua. At vero eos et accusam et justo duo
        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
        sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
        dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
        justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel
        eum iriure dolor in hendrerit in vulputate velit esse molestie
        consequat, vel illum dolore eu feugiat nulla facilisis at vero
        eros et accumsan et iusto odio dignissim qui blandit praesent
        luptatum zzril delenit augue duis dolore te feugait nulla
        facilisi. Lorem ipsum dolor sit amet,
      </div>
      <div class="col-2">
        <img class="logo" src="{{ url_for('static', filename='img/flask.png') }}" />
      </div>
    </div>
  </div>
  <footer class="text-center text-white">
    <div class="text-center p-1">
      © Mag. Stefan Hagmann
    </div>
  </footer>

</body>

</html>