<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PyFoto</title>
  <link rel="icon" type="image/svg+xml" href="resources/favicon.svg" sizes="any">
  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }} ">

  <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
</head>

<body>
  <script>
    $(function () {
      $('button#start').click(function () {
        $.ajax({
          async: true,
          type: "POST",
          url: "/getFoto",
          data: {},
        })
          .done(function (json) {
            console.log(json);
          })
          .fail(function (err) {
            console.log(err.responseText);
          });
      })

    })
  </script>
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index.html">
        <h1 class="underlined">Py <span class="underline underline-clip">Foto Engine</span></h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExpand"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse animitem" id="navbarExpand">
        <!--
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
            </ul>
          -->
      </div>
    </div>
  </nav>

  <div class="d-flex justify-content-center">
    <img class="img-fluid portrait img-shadow" src="{{ url_for('static', filename='img/kid.jpg') }}" />
  </div>
  <div class="d-flex justify-content-center mt-4">
    <button id="start" class="btn btn-primary">Foto aufnehmen</button>
  </div>

  <footer class="text-center text-white">
    <div class="text-center p-1">
      © Mag. Stefan Hagmann
    </div>
  </footer>

</body>

</html>